{% extends "bootstrap/base.html" %}
{% block title %}Flask-MQTT example{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    $('#publish').click(function(event) {
      var topic = $('#topic').val();
      var message = $('#message').val();
      var qos = 0;
	  var data = '{"topic": "' + topic + '", "qos": ' + qos + '}';
      socket.emit('subscribe', data=data);
      var data = '{"topic": "' + topic + '", "message": "' + message + '", "qos": ' + qos + '}';
      socket.emit('publish', data=data);
    });

    socket.on('mqtt_message', function(data) {
      console.log(data);
      var text = data['payload'];
      var $textarea = $('#subscribe_messages');
      $textarea.val($textarea.val() + text + '\n');
      var msgspeak = new SpeechSynthesisUtterance();
      msgspeak.text = text;
      msgspeak.lang = 'en';
      window.speechSynthesis.speak(msgspeak);
    })
  });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Flask-MQTT Chat Demo</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">MQTT Chat</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="row">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-xs-2">Topic: </label>
                  <div class="col-xs-10">
                    <input id="topic" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-2">Messages: </label>
                  <div class="col-xs-10">
                    <textarea id="subscribe_messages" class="form-control" rows=10></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-2">Message: </label>
                  <div class="col-xs-10">
                    <input id="message" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-10">
                    <button id="publish" class="btn btn-primary">Publish</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}